
:root {
    --colorPrimaryColour: #0b36d2;    
    --colorOnPrimaryColour: #c4cafd;    
    --colorSecondaryColour: #186c0b;    
    --colorOnSecondaryColour: #a1f2b3;    
    --colorTertiaryColour: #a724b2;    
    --colorNeutralColour: #817e82;    
}